[submodule ".registry"]
	path = .registry
	url = https://github.com/rhysnewell/rhysnewell.r-universe.dev
	branch = HEAD
[submodule "fastnntr"]
	path = fastnntr
	url = https://github.com/rhysnewell/fast-nnt
	subdir = fastnntr
